


/*Header Design*/
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}





/*Profile*/


h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
    font-family: 'Open Sans', sans-serif;
    background:#ffffff;
}

body{
    padding-top:10vh;
    min-height: 90vh;
}

html{
    background:#c2c3c8;
}
img{
    width: 300px;
}


.header{
    background-color: #c2c3c8;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -ms-background-size:cover;
    -o-background-size:cover;
    min-height:280px;
    position:relative;
}
.header-profile{
    position:absolute;
    bottom: -40%;
    left: 37.5%;
}
.header-top{
    text-align:center;
    margin-top:8%;
}
.header-top h2{
    font-size:35px;
    font-weight:800;
    color:#2b3b4b;
    margin:10px 0 5px 0;
}
.header-top small {
    font-size: 16px;
    font-weight:300;
    color:#7f8a90;
}

.about{
    margin:4em 0;
}
.about-top{
}
h3.top-title{
    font-weight:800;
    font-size:28px;
    text-transform: uppercase;
    text-align:center;
}
span.line{
    width:5%;
    height:1px;
    background:#2b3b4b;
    display: block;
    margin:0 auto;
}
.about-top p.about-p{
    font-weight:700;
    font-size:18px;
    color:#7f8a90;
    margin:10px 0 15px 0;
}
.about-top p{
    font-weight:400;
    font-size:17px;
    color:#7f8a90
}
.about-row{
    margin-top:15px;
}
ul.about-details{
    padding: 0;
}
ul.about-details li{
    display: block;
    margin:1.5em 0;
}
ul.about-details li p{
    font-weight:800;
    font-size:20px;
    color:#7f8a90;
}
ul.about-details li p span{
    font-weight:400;
    color:#7f8a90;
}
ul.about-details li p span a{
    font-weight:400;
    color:#7f8a90;
    text-decoration:none;
}
.about-row-column h3{
    font-size:22px;
    color:#7f8a90;
    font-weight:800;
    margin-top:1em;
}



.experience{
    background:#f1f2f7;
    min-height:1050px;
}
.exp-top{
    padding:2em 0;
}
.exp-devide{
    position:relative;
    text-align:center;
}
.exp-devide h4{
    color:#2b3b4b;
    background:#d4d4d4;
    padding:10px;
    text-transform:uppercase;
    font-size:20px;
    display: block;
    text-align:center;
    width:15%;
    font-weight:800;
    border-radius:6px;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
    -ms-border-radius:6px;
    -moz-border-radius:6px;
    margin:0 auto;
    position:relative;
}
span.devide-line{
    width:3px;
    height:450px;
    position:absolute;
    top:30px;
    display:initial;
    background:#d4d4d4;
}

.exp-devide-grid-right{
    width:40%;
    text-align:left;
    position:absolute;
    top: 7em;
    left: 43.255em;
}
.exp-devide-grid-right:before{
    position:relative;
    left:-3em;
    top:1.5em;

}
.exp-devide-grid-right h5,.exp-devide-grid-left h5,.exp-devide-grid-rightb h5{
    color:#2b3b4b;
    text-transform:uppercase;
    font-size:18px;
    font-weight:800;
    margin:0;
}
.exp-devide-grid-right small,.exp-devide-grid-left small,.exp-devide-grid-rightb small{
    font-size:16px;
    font-weight:400;
    color:#7f8a90;
    padding:0 0 10px 0;
}
.exp-devide-grid-right p,.exp-devide-grid-left p,.exp-devide-grid-rightb p{
    font-size:14px;
    font-weight:400;
    color:#7f8a90;
    line-height:1.2em;
}
.exp-devide-grid-left{
    width:40%;
    text-align:right;
    position:absolute;
    top:12em;
    left: 5.8em;
}
.exp-devide-grid-left:before{
    position:relative;
    left:3em;
    top:1.5em;

}
.exp-devide-grid-rightb{
    width:40%;
    text-align:left;
    position:absolute;
    top: 20em;
    left: 43.255em;
}
.exp-devide-grid-rightb:before{
    position:relative;
    left:-3em;
    top:1.5em;

}
.education{
    margin-top:35%;
}

.skills{
    margin:2em 0;
}
.skills-top{
    padding:2em 0 0;
}
.skill-grids{
    padding:3em 0;
}

.skill-grid h3{
    color: #2b3b4b;
    font-weight:800;
    font-size:23px;
    margin-top: 0.8em;
}
.skill-grid p{
    font-weight:400;
    font-size:16px;
    line-height:1.8em;
    color:#7f8a90;
}


.awards{
    margin:2em 0;
    background:#f1f2f7;
}
.awards-top{
    padding:2em 0;
}
.award-row{
    margin-top:2em;
}
.award-column{
    text-align: center;
}
.award-column i{
    width:185px;
    height:185px;
    background:url(images/award-icons.png)no-repeat;
    display:inline-block;
}
.award-column i.award{
    background-position:0px 0px
}
.award-column i.project{
    background-position:-197px 0px
}
.award-column i.client{
    background-position:-389px 0px
}
.award-column i.cups{
    background-position:-588px 0px
}
.award-column h5{
    font-size:23px;
    color:#2b3b4b;
    font-weight:800;
}
.award-column small{
    font-size:16px;
    font-weight:400;
    text-transform:uppercase;
    color:#7f8a90;
}
/*--- Award Part Ends Here ----*/


/*--- contact Part Starts Here ----*/
.contact{
    margin:2em 0 0;
}
.contact-top{
    padding:2em 0;
    text-align:center;
}
.contact-top p{
    font-size:18px;
    font-weight:400;
    color:#7f8a90;
    margin:1em 0;
}


.contact-form{
    text-align:center;
}
.text{
    margin-bottom:1em;
}
.text input[type="text"]{
    width:75%;
    padding:15px 10px;
    border:1px solid #2980b9;
    background:#f1f2f7;
    color:#7f8a90;
    outline:none;
    border-radius:6px;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    font-weight:300;
    font-style:italic;
    font-size:16px;
    -webkit-appearance: none;
}
.text textarea{
    width:75%;
    padding:10px;
    border:1px solid #2980b9;
    background:#f1f2f7;
    color:#7f8a90;
    outline:none;
    border-radius:6px;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    font-weight:300;
    font-style:italic;
    font-size:16px;
    height:200px;
    resize:none;
    -webkit-appearance: none;
}
.text input[type="submit"]{
    background:#2980b9;
    color:#fff;
    padding:10px 15px;
    font-size:16px;
    outline:none;
    cursor:pointer;
    -webkit-appearance: none;
    border-radius:6px;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    border:0px;
    text-transform:uppercase;
}
.text input[type="submit"]:hover{
    background:#6ab8ea;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -o-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;

}

.footer{
    width: 100vw;
    height: 8vh!important;
    text-align:center;
    background:#2b3b4b;
}

.footer-box{
    display:flex;
    justify-content: center;
}

.footer-img{
    height: 8vh;
    width:auto;
}

.footer-name{
    align-self: center;
}

p.developer{
    font-size:15px;
    color:#fff;
    font-weight:400;
}
p.developer a{
    color:#2980b9;
    text-decoration:none;
}
p.developer a:hover{
    color:#fff;
    -webkit-transition:0.5s all;
    -o-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
}

@media (max-width:1024px){
    .header {
        min-height: 280px;
    }
    .header-profile img {
        width: 80%;
    }
    .header-profile {
        left: 40%;
    }


    .about {
        margin: 2em 0;
    }

    .slider-top p {
        font-size: 16px;
    }

    .exp-devide-grid-right {
        left: 36.2em;
    }
    .exp-devide-grid-left {
        left: 4.4em;
    }
    .exp-devide-grid-rightb {
        top: 16em;
        left: 36.2em;
    }
    .experience {
        min-height: 970px;
    }
    .education {
        margin-top: 38%;
    }
    span.devide-line {
        height: 409px;
    }

}
@media (max-width:800px){
    .header-profile img {
        width: 60%;
    }
    .header {
        min-height: 192px;
    }
    .header-top {
        margin-top: 7%;
    }
    .header-top h2 {
        font-size: 30px;
    }
    .header-top small {
        font-size: 14px;
    }

    .about {
        margin: 2em 0 3em;
    }
    .exp-devide h4 {
        width: 19%;
    }

    .exp-devide-grid-right {
        left: 28.3em;
    }
    .exp-devide-grid-left {
        left: 2.8em;
    }
    .exp-devide-grid-rightb {
        top: 18em;
        left: 28.3em;
    }
    .education {
        margin-top: 55%;
    }
    .skill-column {
        margin-bottom: 2em;
    }
    .experience {
        min-height: 1030px;
    }
    span.devide-line {
        height: 435px;
    }
    .award-column {
        margin-bottom: 1.5em;
    }
    .callbacks_tabs {
        left: 41%;
    }

    .skill-grids {
        padding: 3em 0 0;
    }
}
@media (max-width:640px){
    .header-profile img {
        width: 55%;
    }
    .header-profile {
        left: 39%;
    }
    .header-top h2 {
        font-size: 25px;
    }
    h3.top-title {
        font-size: 25px;
    }
    .exp-devide {
        text-align: left;
    }
    .exp-devide-grid-left {
        left: 1.9em;
        display: none;
    }
    .exp-devide h4 {
        width: 19%;
        margin: 0;
    }
    span.devide-line {
        left: 10%;
    }
    .about-top p.about-p {
        font-size: 16px;
    }

    a.download {
        font-size: 14px;
    }
    .exp-devide h4 {
        font-size: 16px
    }

    .exp-devide-grid-right {
        left: 15.8%;
        top: 6em;
        width:84%;
    }
    .exp-devide-grid-left {
        left: 1.9em;
    }
    .exp-devide-grid-rightb {
        top: 16em;
        left: 15.8%;
        width:84%;
    }
    .exp-devide-grid-right h5, .exp-devide-grid-left h5, .exp-devide-grid-rightb h5 {
        font-size: 16px;
    }
    .exp-devide-grid-right p,  .exp-devide-grid-left p,  .exp-devide-grid-rightb p {
        font-size: 14px;
        line-height:1.2em;
    }
    .exp-devide-grid-right small,.exp-devide-grid-left small,.exp-devide-grid-rightb small{
        font-size:15px;
    }
    .experience {
        min-height: 906px;
    }
    span.devide-line {
        height: 396px;
    }
    .skills-top {
        padding: 0em 0 0;
    }
    .skill-grid h3 {
        font-size: 19px;
        margin:0;
    }
    .skills {
        margin: 2em 0 0;
    }
    ul.social li i {
        width: 80px;
        height: 80px
    }
    .text input[type="text"],.text textarea {
        width: 80%;
    }
}
@media (max-width:480px){

    .header {
        min-height: 142px;
    }
    .header-profile img {
        width: 40%;
    }
    .header-profile {
        left: 37%;
    }
    .header-top h2 {
        font-size: 20px;
    }
    .header-top {
        margin-top: 9%;
    }
    .header-profile {
        left: 39%;
    }
    .header-top small {
        font-size: 13px;
    }
    h3.top-title {
        font-size: 20px;
    }
    ul.about-details li p {
        font-size: 16px;
    }
    ul.about-details li {
        margin: 1em 0;
    }
    a.download {
        font-size: 12px;
    }
    .exp-devide h4 {
        font-size: 14px;
        width: 23%;
    }

    .exp-devide-grid-right {
        left: 17.8%;
        top: 6em;
    }
    .exp-devide-grid-left {
        left: 0.8em;
    }
    .exp-devide-grid-rightb {
        top: 18em;
        left: 17.9%;
    }
    .education {
        margin-top: 95%;
    }
    span.devide-line {
        height: 418px;
    }
    .experience {
        min-height: 1040px;
    }
    .skill-grid h3 {
        font-size: 16px;
    }
    ul.social li i {
        width: 50px;
        height: 50px;
        background-size: 773%;
    }
    ul.social li i.tw {
        background-position: -56px 0px;
    }
    ul.social li i.li {
        background-position: -111px 0px;
    }
    ul.social li i.yt {
        background-position: -168px 0px;
    }
    ul.social li i.ca {
        background-position: -225px 0px;
    }
    ul.social li i.ph {
        background-position: -283px 0px;
    }
    ul.social li i.gp {
        background-position: -339px 0px;
    }
    ul.social {
        margin: 1em 0 0;
    }

    .award-column i {
        width: 80px;
        height: 80px;
        background-size: 426%;
    }
    .award-column h5 {
        font-size: 16px;
    }
    .award-column small {
        font-size: 13px;
    }
    .award-column i.project {
        background-position: -86px 0px;
    }
    .award-column i.client {
        background-position: -172px 0px;
    }
    .award-column i.cups {
        background-position: -258px 0px;
    }
    .slider-top {
        margin: 0 15%;
    }
    .callbacks_tabs {
        left: 37%;
        top: 100%;
    }
    .callbacks_nav {
        top: 87%;
    }
    .callbacks_tabs a:after {
        height: 12px;
        width: 12px;
    }
    .contact {
        margin: 0em 0 0;
    }
    .contact-top p {
        margin: 0.5em 0;
    }
    .contact-top p {
        margin: 0em 0;
        padding: 0;
    }
    .text input[type="text"] {
        width: 90%;
        padding:10px;
    }
    .text textarea {
        width: 90%;
        height: 135px;
    }
    .contact-top {
        padding: 2em 0 1em;
    }
}
@media (max-width:320px){
    .header {
        min-height: 103px;
    }
    .exp-devide h4 {
        font-size: 14px;
        width: 37%;
    }

    .exp-devide-grid-left {
        left: -0.4em;
    }
    .exp-devide-grid-right {
        left: 22.8%;
        width:80%
    }
    .exp-devide-grid-rightb {
        left: 22.8%;
        width:80%;
    }
    .education {
        margin-top: 156%;
    }

    span.devide-line {
        height: 434px;
    }
    .callbacks_nav {
        top: 65%;
    }
    .callbacks_tabs {
        left: 29%;
    }

    .exp-devide-grid-right p,  .exp-devide-grid-left p,  .exp-devide-grid-rightb p {
        font-size: 13px;
        line-height:1.5em;
    }
    .exp-devide-grid-right small,.exp-devide-grid-left small,.exp-devide-grid-rightb small{
        font-size:14px;
    }
}





/* Authentication page */


/* reset */

blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/

.main{
    margin:7em auto 0;
    width:80%;
    background: #fff;
}
.privet {
    text-align:center;
    padding:1.3em;
}
.privet h1 {
    color:#272727;
    font-weight:700;
    font-size:22px;
}
.main p{
    text-align: center;
    font-size:15px;
    font-weight:600;
    color:#383737;
    padding: 20px 30px;
    border-bottom: 1px solid #E7E0E0;
    margin-top: -13px;
}
.main h2,.main h3{
    text-align:left;
    font-size:17px;
    font-weight:600;
    margin:15px 3px;
    color:#3F3D3D;
}



.left-form,.right-form{
    float:left;
    margin:22px 28px;
    width:40%;
}
.left-form input[type=text],.left-form input[type=email],.left-form input[type=password] {
    float:left;
    font-family: 'Open Sans', sans-serif;
    width:80%;
    padding: 0.7em 2em 0.7em 1em;
    border:none;
    color: #000;
    font-size:15px;
    float: left;
    outline: none;
}
.right-form{
    float:right;
}
form{
    padding-bottom: 2em;
}
.right-form li{
    display:block;
    color:#4D4949;
    border:1px solid #EBEBEB;
    border-radius: 0.3em;
    -webkit-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -o-border-radius:0.3em;
    margin-bottom: 10px;
}
.right-form input[type=text], input[type=password] {
    font-family: 'Open Sans', sans-serif;
    width:90%;
    padding: 0.7em 1em 0.7em 1em;
    color:#000;
    font-size: 15px;
    border:none;
    outline:none;

}
.left-form li{
    display:block;
    color:#4D4949;
    border:1px solid #EBEBEB;
    border-radius: 0.3em;
    -webkit-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -o-border-radius:0.3em;
    margin-bottom: 10px;
}
.icon
{
    height:28px;
    width:28px;
    background:url("./images/spirit.png")  no-repeat;
    display: block;
    float: right;
    margin: 7px 9px 9px 0px;
}
.ticker{
    background:url("./images/spirit.png")  no-repeat 0px 0px;
}
.into{
    background:url("./images/spirit.png")  no-repeat -31px 0px;
}

.left-form submit{
    float:left;
}
.right-form submit{
    float:right;
}
.main h4{
    float: left;
    font-size:13px;
    font-weight: 600;
    color:#363535;
}
.left-form input[type=submit]{
    padding:10px 19px;
    border-radius:0.3em;
    -webkit-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -o-border-radius:0.3em;
    color:#4D4949;
    background:#F3F3F3;
    border:1px solid #EBEBEB;
    font-weight:bold;
    font-size:15px;
    outline:none;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    margin-top:15px;
    cursor: pointer;
}
.right-form input[type=submit]{
    float:left;
    padding:8px 19px;
    border-radius:0.3em;
    border:none;
    outline:none;
    -webkit-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -o-border-radius:0.3em;
    font-weight:bold;
    font-size:15px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    margin: 2em -9em;
    cursor: pointer;
}
input[type=submit]:hover {
    background:#2E2D2D;
    color:#fff;

}
/*---start-check-box----*/
.uncheked{
    height:40px;
    width:28px;
    display:block;
    background:url("./images/check-icon.png") no-repeat;
}
.cheked{
    height:40px;
    width:28px;
    display:block;
    background:url("./images/check-icon.png") no-repeat 50% 50%;
}
.disabled{
    height:40px;
    width:28px;
    display:block;
    background:url("./images/check-icon.png") no-repeat 0% 100%;
}
.price-selection-tree input[type="checkbox"]{
    display:none;
}
.price-selection-tree input[type="checkbox"]+label{
    float:left;
    display: block;
    vertical-align:top;
    font-size:13px;
    font-weight:600;
    margin-top:-0.3em;
    height: 76px;
    cursor:pointer;
}
.checkbox-grid-left p{
    display:block;
}
.left-form > label {
    font-size:13px;
    float:left;
    vertical-align: super;
    margin-left:10px;
    color:#4C4A4A;
    margin-top:2px;
    font-weight: 600;
}
input[type=checkbox].css-checkbox10 + label i.css-label10 {
    float:left;
    height:40px;
    width:28px;
    display: inline-block;
    line-height:18px;
    background-repeat: no-repeat;
    background-position: 0 0px;
    cursor: pointer;
    background: url("./images/check-icon.png") no-repeat -0px -82px;
}
input[type=checkbox].css-checkbox10:checked + label i.css-label10 {
    background: url("./images/check-icon.png") no-repeat -0px -82px;
    height: 20px;
}
/*----*/

/*----start-responsive design-----*/
@media only screen and (max-width:1680px) and (min-width:1440px) {
    .main{
        width:70%;
        margin:6em auto 0;
    }
    .copy-right p {
        margin: 3.5em 0em;
    }
}
@media only screen and (max-width:1440px) and (min-width:1366px) {
    .main{
        width:80%;
        margin:6em auto 0;
    }
    .copy-right p {
        margin: 3.8em 0em;
    }
}
@media only screen and (max-width:1366px) and (min-width:1280px) {
    .main{
        width:82%;
        margin:6em auto 0;
    }
    .copy-right p {
        margin: 4em 0em;
    }
}
@media only screen and (max-width:1280px) and (min-width:1024px) {
    .main{
        width:89%;
        margin:5em auto 0;
    }
    .copy-right p {
        margin: 3.5em 0em;
    }
}
@media only screen and (max-width:1024px) and (min-width:768px) {
    .main{
        width:97%;
        margin:5em auto 0;
    }
    .left-form input[type=text], .left-form input[type=email], .left-form input[type=password] {
        font-family: 'Open Sans', sans-serif;
        width: 78%;
    }
    .right-form input[type=text], input[type=password] {
        font-family: 'Open Sans', sans-serif;
        width: 86%;
    }
    .copy-right p {
        margin: 3.5em 0em;
    }
}
@media only screen and (max-width:768px) and (min-width:640px) {
    .main{
        width:95%;
        margin:5em auto 0;
    }
    .left-form input[type=text], .left-form input[type=email], .left-form input[type=password] {
        font-family: 'Open Sans', sans-serif;
        padding: 0.7em 1em 0.7em 1em;
        width: 70%;
    }
    .right-form input[type=text], input[type=password] {
        font-family: 'Open Sans', sans-serif;
        padding: 0.7em 1em 0.7em 0em;
        width:89%;
    }
    .left-form{
        width:88%;
        text-align: center;
    }
    .right-form {
        float:none;
        width:88%;
        text-align: center;
    }
    .left-form > label {
        margin-left:42px;
        margin-top: 13px;
    }
    .main h2,.main h3{
        text-align:center;
    }
    .left-form li{
        margin-left:32px;
    }
    .right-form li{
        margin-left:40px;
    }
    .left-form input[type=submit] {
        padding: 12px 12px;
        float: right;
        margin: 2px 0px;
    }
    .main h4 {
        float:left;
        margin: 7px 36px;
    }
    .main h3{
        margin-top:-2em;
    }
    .right-form input[type=submit] {
        float: right;
        padding: 8px 19px;
        margin:2px 3px;
    }
    .copy-right p {
        margin: 3.5em 0em;
    }
}
@media only screen and (max-width:640px) and (min-width:480px) {
    .main{
        width:95%;
        margin:5em auto 0;
    }
    .left-form input[type=text], .left-form input[type=email], .left-form input[type=password] {
        font-family: 'Open Sans', sans-serif;
        padding: 0.7em 1em 0.7em 1em;
        width: 70%;
    }
    .right-form input[type=text], input[type=password] {
        font-family: 'Open Sans', sans-serif;
        padding: 0.7em 1em 0.7em 0em;
        width:89%;
    }
    .left-form{
        width:88%;
        text-align: center;
    }
    .right-form {
        float:none;
        width:88%;
        text-align: center;
    }
    .left-form > label {
        margin-left:42px;
        margin-top: 13px;
    }
    .main h2,.main h3{
        text-align:center;
    }
    .left-form li{
        margin-left:13px;
    }
    .right-form li{
        margin-left:16px;
    }
    .left-form input[type=submit] {
        padding: 12px 12px;
        text-align:center;
        float: none;
    }
    .main h4 {
        float:left;
        margin: 7px 17px;
    }
    .right-form input[type=submit] {
        float: right;
        padding: 8px 19px;
        margin:2px 3px;
    }
    .copy-right p {
        margin: 3.5em 0em;
    }
}
@media only screen and (max-width:480px) and (min-width:320px) {
    .main{
        width:95%;
        margin:2em auto 0;
    }
    .main p{
        padding:16px 20px;
    }
    .left-form input[type=text], .left-form input[type=email], .left-form input[type=password] {
        font-family: 'Open Sans', sans-serif;
        padding: 0.7em 1em 0.7em 1em;
        width: 70%;
    }
    .right-form input[type=text], input[type=password] {
        font-family: 'Open Sans', sans-serif;
        padding: 0.7em 2em 0.7em 0em;
        width:89%;
    }
    .left-form, .right-form{
        width:83%;
        float:none;
        text-align: center;
    }
    .left-form > label {
        margin-left:10px;
        margin-top: 13px;
    }
    .main h2,.main h3{
        text-align:center;
    }
    .left-form li{
        margin-left:13px;
    }
    .right-form li{
        margin-left:16px;
    }
    .left-form input[type=submit] {
        padding: 12px 12px;
        text-align:center;
        margin:9px 0px;
    }
    .main h4 {
        float:left;
        margin: 7px 17px;
    }
    .right-form input[type=submit] {
        float: right;
        padding: 8px 19px;
        margin:2px 3px;
    }
    .copy-right p {
        margin: 3em 0em;
    }
}
@media only screen and (max-width:320px) and (min-width:240px) {
    .main{
        width:96%;
        margin:2em auto 0;
    }
    .main p{
        padding:16px 17px;
    }
    .left-form input[type=text], .left-form input[type=email], .left-form input[type=password] {
        font-family: 'Open Sans', sans-serif;
        padding: 0.4em 1em 0.4em 1em;
        width: 70%;
    }
    .right-form input[type=text], input[type=password] {
        font-family: 'Open Sans', sans-serif;
        padding: 0.6em 0.9em 0.6em 0em;
        width:89%;
    }
    .left-form, .right-form{
        text-align: center;
    }
    .left-form > label {
        margin-left:10px;
        margin-top: 13px;
    }
    .main h2,.main h3{
        text-align:center;
    }
    .left-form li{
        margin-left:-6px;
    }
    .right-form li{
        margin-left:-5px;
    }
    .left-form input[type=submit] {
        padding: 12px 12px;
        text-align:center;
        margin:9px 0px;
    }
    .main h4 {
        float:left;
        margin: 7px 17px;
    }
    .right-form input[type=submit] {
        float: right;
        padding: 8px 19px;
        margin:2px 3px;
    }
    .copy-right p {
        margin:2.5em 0em;
    }
    .icon{
        margin: 7px 5px 9px 0px;
    }
}
/*----//end-responsive design-----*/
